@font-face {
    font-family: 'VCR';
    src: url('vcr-font-webfont.eot');
    src: url('vcr-font-webfont.eot?#iefix') format('embedded-opentype'),
         url('vcr-font-webfont.woff2') format('woff2'),
         url('vcr-font-webfont.woff') format('woff'),
         url('vcr-font-webfont.svg#vcr_osd_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

#bannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bannerImg {
    margin-top: 5px;
    margin-bottom: 5px;
}

#winsAndLosses {
    font-family: VCR,Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    position: absolute;
    bottom: 25;
    right: 15;
    text-align: right;
}

h1, h2, h3, h4 {
	text-align: center;
	font-family: VCR,Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
}

h2, h3, h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.chessboard {	
    width: 640px;
    height: 640px;
    border: 1px solid #333;
    margin: auto;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #ababab;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}

.upgrades{
	width: 320px;
	margin: auto;	
}
.selection{
	float: center;
	width: 80px;
	height: 50px;
	font-size: 35px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
}

.descriptions{
	width: 320px;
	margin: auto;
}

.description{
	font-family: VCR,Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	color: #ababab;
	float: left;
    width: 80px;
    height: 80px;
    font-size:14px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

h1, #thinkingLabel, #turnLabel, #winsAndLosses {
	color: #ababab;
}

#alertLabel {
	color: #ff0000;
}

#restart, #start, #retry {
	color: #ababab;
	cursor: pointer;
}

#winsAndLosses {
    font-size: 12px;
}

#wins {
    margin-right: 15px;
}

@media only screen and (max-width: 600px) {
    h1 {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    h1, h2, h3, h4, .description {
        font-size: 12px;
    }

    #winsAndLosses {
        font-size: 10px;
    }

    #bannerContainer {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #bannerImg {
        width: 50%;
    }

    .chessboard {
        width: 100%;
        border: 1px solid #333;
        margin: auto;
    }

    .black {
        float: left;
        width: 12.5%;
        height: 12.5%;
        background-color: #ababab;
        font-size: 25px;
        text-align:center;
        display: table-cell;
        vertical-align: middle;
    }
    .white {
        float: left;
        width: 12.5%;
        height: 12.5%;
        background-color: #fff;
        font-size: 25px;
        text-align:center;
        display: table-cell;
        vertical-align: middle;
    }
}